.Overflow{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3;

/* transition: 0.5s; */
}

.SideBlock{
    width: 345px;
    max-width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255);
    position: fixed;
    z-index: 4;
    overflow: hidden;
    top: 0;
    right: 0;

    transition: 0.5s;
}